/* =================================
  Flexbox
==================================== */

.container{
display:flex;
flex-wrap: wrap;
height: 300px;

}

.item{
flex-basis: 200px;
flex-grow: 1;
}

.item{
/*short hand for flex grow and flex-basis property*/
flex: 1 200px;
}


